.modal-header
  padding: 0!important

  .carousel-inner
    height: 500px
    color: $color-primary

    & img
      height: 700px
  .carousel-control-prev:hover
    background: linear-gradient(to right, $color-primary 0%, rgba($color-dark-overlay, 0))

  .carousel-control-next:hover
    background: linear-gradient(to left, $color-primary 0%, rgba($color-dark-overlay, 0) 100%)

.modal-body
  color: black!important

.btn.btn-danger
  background-color: $color-bg
  color: $color-white

  &:hover
    background-color: $color-white
    color: $color-bg
